<ion-view view-title="History">
  <ion-header-bar class="bar-default">
    <h1 class="title">Your History</h1>
  </ion-header-bar>
  <br>
  <br>
  <br>
  <ion-content>
  <div class="list">
    <div class="tabs bar bar-header">
      <a class="tab-item" ng-click="show=true">
        As a buyer
      </a>
      <a class="tab-item" ng-click="show=false">
        As a seller
      </a>
    </div>
    <br>
    <br>
    <div ng-show="!show">
      <!-- <h2 style="color: #E38C00">Stuff You're Giving Away</h2> -->
      <ion-item ng-repeat="item in sellerHistory" class="item-thumbnail-left">
        <img ng-src="{{item.photoUrls}}">
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
      </ion-item>
    </div>
    <div ng-show="show">
      <!-- <h2 style="color: #E38C00">Stuff You Liked</h2> -->
      <ion-item ng-repeat="item in buyerHistory" class="item-thumbnail-left">
        <img ng-src="{{item.photoUrls}}">
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
      </ion-item>
    </div>
  </div>
  </ion-content>
<!--     <div class="bar bar-footer bar-dark">
      <button class="button button-clear" ng-click="show=false">Giving Away</button>
      <button class="button button-clear" ng-click="show=true">Liked</button>
    </div> -->
</ion-view>
