<ion-view view-title="Your History">
  <ion-header-bar class="bar-default">
    <h1 class="title">Your History</h1>
  </ion-header-bar>
  <br>
  <br>
  <br>
  <ion-content>
    <h2>Free Giveaways</h2>
      <ion-item ng-repeat="item in sellerHistory" class="item-thumbnail-left">
        <img src="{{item.photoUrls}}">
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
      </ion-item>
    <h2>Liked History</h2>
<div class="list">
  <ion-item ng-repeat="item in buyerHistory" class="item-thumbnail-left">
    <img src="{{item.photoUrls}}">
    <h2>{{item.title}}</h2>
    <p>{{item.description}}</p>
  </ion-item>
</div>

  </ion-content>
</ion-view>
