<ion-view view-title="Chat Room">
      <ion-header-bar class="bar-default">
        <h1 class="title">Chat Room</h1>
      </ion-header-bar>
<br>
<br>
  <ion-scroll direction="y" style="height: 100%">
    <ion-list>
      <ion-item ng-repeat="message in messages">{{ message.from }}: {{ message.content }}</ion-item>
    </ion-list>
  </ion-scroll>

    <div class="bar bar-footer">
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" ng-model="message" placeholder="Enter Message">
          </label>
          <button class="button button-clear" type="submit" ng-click="addMessage()">
            Send
          </button>
        </div>
    </div>
</ion-view>

