<ion-modal-view view-title="Details">
  <ion-header-bar class="bar-dark">
    <h1 class="title">Product Details</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list card">
      <br>
      <div class="item item-avatar">
        <img ng-src="{{product.photoUrls}}">
        <h2>{{ currentCard.location }}</h2>
        <p>Expiry Date: {{ currentCard.expiration }}</p>
      </div>
      <div class="item item-body">
        <img class="full-image" ng-src="{{currentCard.photoUrls}}">
        <p>
          {{ currentCard.description }}
        </p>
      </div>
      <button ng-click="closeModal()"></button>
    </div>
  </ion-content>
</ion-modal-view>
