<ion-view view-title="Swap">
  <ion-header-bar class="bar-default">
    <h1 class="title"></h1>
  </ion-header-bar>
  <ion-pane>
  <td-cards>
    <div ng-repeat="card in cards" class="polaroid">
    <td-card on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" class="card-{{$index}}">
      <div class="image">
        <div class="no-text ">NOPE</div>
        <br>
        <div>
          <div class="cropTop">
            <img class="url" ng-src="{{card.photoUrls}}" ng-click="openModal()">
          </div>
          <hr style="margin-top: 1px;margin-bottom: 5px">
          <div class="title" style="font-weight: bolder; font-size: 30px; text-align: center">{{card.title | cut:true:40:' ...'}}
            <!-- <div> -->
              <!-- <div class="description">{{card.description}} </div> -->
            <!-- </div> -->
            <div class="yes-text">LIKE</div>

          </div>
        </div>
      </div>
    </td-card>
    </div>
  </td-cards>
  <br>
  <div class="tinderButtons">
      <button class="button button-stable" ng-click="cardSwipedLeft()">
        <i class="fa fa-times fa-5x" style= "color: red"></i>
      </button>
        <button class="button button-stable" style="height: 60px; width: 60px;" ng-click="skipCard()">
          <i class="fa fa-share fa-2x" style="margin: auto"></i>
        </button>
      <button class="button button-stable" ng-click="cardSwipedRight()">
        <i class="fa fa-check fa-5x" style= "color: green"></i>
      </button>
        <!-- <button class="button button-stable" style="height: 60px; width: 60px; top: 15px;">
          <i class="fa fa-crosshairs fa-2x"></i>
        </button> -->
    </span>
    <div>
      <span class="card-counter"> Cards Left </span>
      <span class="card-counter-number"> {{ cards.length }} </span>
    </div>
  </div>
  </ion-pane>

  <!-- <ion-spinner icon="ripple" ng-show="cards.length == 0"></ion-spinner> -->
</ion-view>
<!-- ui-sref="app.product-detail({_id: card._id})" -->
