<ion-view view-title="Free Swap">
  <ion-header-bar>
    <h1 class="title">Sign-In</h1>
  </ion-header-bar>
  <ion-nav-bar class="bar-dark">
  </ion-nav-bar>
  <ion-content>

      <div id="login" class="list list-inset">

        <label class="item item-input">
          <span class="input-label">Username:</span>
          <input type="text" ng-model="user.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password:</span>
          <input type="password" ng-model="user.password">
        </label>
        <div class="row">
          <div class="col col-50">
           <button class="button button-block button-calm" ng-click="login(user)">Log in</button>
          </div>
          <div class="col col-50">
           <button class="button button-block button-calm" ng-click="loginPlatform('facebook')" style="background-color: #3b5998"><i class="fa fa-facebook"></i>Facebook</button>
          </div>
        </div>

        <!-- <button ng-click="loginFacebook()">Facebook Login</button> -->
      </div>
      <div class="register">
        <button class="button button-energized" ng-click="goTo('sign-up')">Not registered? Click here to sign up <i class="fa fa-arrow-right"></i></button>
      </div>
  </ion-content>
</ion-view>
