<ion-nav-view>
  <ion-header-bar>
    <h1 class="title">Sign-Up</h1>
  </ion-header-bar>
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>

    <h1>Sign Up</h1>

    <div id="sign-up" class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Username: <span>
        <input type="text" ng-model="newUser.username" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Email: <span>
        <input type="email" ng-model="newUser.email" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Password: <span>
        <input type="password" ng-model="newUser.password" required>
      </label>
      <label class="item">
        <button class="button button-block button-positive" ng-click="signUp(newUser)">Sign Up</button>
      </label>
    </div>
    <button ng-click="goTo('front-page')">Login</button>

  </ion-content>
</ion-nav-view>