td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: -150px;
  width: 300px;
  height: 275px;
  background-color: white;
  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

td-card.card-0 {
  -webkit-transform: rotate(-2deg)
}
td-card.card-1 {
  -webkit-transform: rotate(2deg)
}
td-card.card-2 {
  -webkit-transform: rotate(-4deg)
}
td-card.card-3 {
  -webkit-transform: rotate(4deg)
}

/*td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}*/


td-card .image {
  position: absolute;
  left: 4%;
}

td-card img {
  max-width: 100%;
  max-height: 300px;
  max-width: 275px;
}

/*
.tdimage {
  position: relative;

}

.url {
  max-width: 100%;
  border-radius: 6px;
  height: 300px;
  width: 250px;
}*/

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}


.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 55px;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
  color: ;
}

ul {
  overflow: scroll;
}
/*
.ion-view {
  font-family: 'Pacifico', cursive;
}*/

* {
  font-family: 'Rancho', cursive;
  font-size: 24px;
}

/*ion-view {
    background-image: url("../img/random.png");
}*/
ion-content {
  background-image: url("../img/random.png");
}

#side-menu {
  background-color: #7F7F7F;
}


.button-stable {
  border-radius: 100%;
  border:2px solid #cfdcec;
  box-shadow: 0 0 3px gray;
  width: 100px;
  height: 100px;
}

img {
  box-shadow: 0 0 3px gray;
}

.input-label {
  font-size: 18px;
  width: 90px;
}
.item-input input {
  max-width: 90%;
}

.tinderButtons {
  text-align: center;
  margin-top: 300px;
}

.crop{
  float:left;
  margin:.5em 10px .5em 0;
  overflow:hidden; /* this is important */
  position:relative; /* this is important too */
  width:385px;
  height:200px;
}
.crop img{
  position:absolute;
  top:-20px;
  left:-55px;
}

h1 {
  font-family: 'Rancho', cursive;
  font-size: 36px;
  text-align: center;
}

h2.ng-binding{
  font-family: 'Rancho', cursive;
  font-size: 26px;
}

h2 {
  font-family: 'Rancho', cursive;
  font-size: 36px;
}

.bar .title {
  font-size: 35px;
  font-family: 'Rancho', cursive;
}

